<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./js/vue.js"></script>
  <title>VUE</title>
</head>
<body>
  <div id="app">
    <h1>V-MODEL two way binding:</h1>
    <form v-on:submit.prevent="handleSecondForm">
      <label>Name</label>
      <input type="text" v-model="formData.name">
      <br>

      <label>Last Name</label>
      <input type="text" v-model.trim.lazy="formData.lastName"> <!-- .lazy will  update value after blur event-->
      <br>

      <label>Age</label>
      <input type="text" v-model.number="formData.age"> <!-- .number -> change entered value to number if possible -->
      <br>

      <button type="submit">Submit</button>
    </form>

    <hr>

    <h1>Styles:</h1>
    <div 
      class="element"
      :class="{red: boxColors.red, blue: boxColors.blue, green: boxColors.green}" 
      :style ="{
        fontSize: '20px',
        border: '5px solid yellow'
      }"
      @click="changeBoxColor"> <!--  v-bind:class="['red', 'blue']"-->
      This is my content !!
    </div>

    <hr>
    <h1>Computed:</h1>

    <input type="text" v-model='user.name'>
    <br>
    <button  @click='toggleActive'>Other Action</button>

    <div>Name: {{ compMessage }}</div>
    <div>Active: {{isActive()}}</div>
    
    <hr>
    <h1>Watch:</h1>
    <div>Loading: {{user.loading}}</div>

  </div>
</body>


<script>
  new Vue({
    el: '#app',
    data: {
      user: {
        name: 'Vasya',
        age: 15,
        allowedAge: 18,
        loading: false
      },

      formData: {
        name: '',
        lastName: '',
        age: ''
      },

      boxColors: {
        red: true,
        blue: false,
        green: false
      }
    },
    methods: {
      handleSecondForm() {
        console.log('Form data:', this.formData);
      },
      changeBoxColor() {
        if (this.boxColors.red) {
          this.boxColors.red = false;
          this.boxColors.blue = true;
        } else if (this.boxColors.blue) {
          this.boxColors.blue = false;
          this.boxColors.green = true;
        } else if (this.boxColors.green) {
          this.boxColors.green = false;
        } else {
          this.boxColors.red = true;
        }
      },
      isActive() {
        return this.user.allowedAge > 18 ? 'Active' : 'Not Active';
      },
      toggleActive() {
        this.user.allowedAge = this.user.allowedAge > 18 ? 17 : 19;
      }
    },
    computed: { // * It's like getter calculate value and return it back will called only if this.user.name change
      compMessage() {
        console.log('Computed run');
        return this.user.name === 'Vasya' ? 'Welcome' : 'Not allowed';
      },
    }
  });
</script>

<style>
  .box {
    background-color: red;
    width: 200px;
    height: 200px;
  }
  .element {
    color: white;
    background-color: black;
    padding: 10px;
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: blue;
  }

  .green {
    background-color: green;
  }
</style>

</html>